/.git/
/.github/
/.idea/
/.storybook/
/.vscode/
/.yarn/
/cypress/
/jest/
/node_modules/
/scripts/
/src/
/*.iml
/.browserlistrc
/.editorconfig
/.env
/.eslintcache
/.eslintrc.json
/.gitattributes
/.gitignore
/.npmignore
/.npmrc
/.pnp.cjs
/.prettierrc.json
/.travis.yml
/.tsbuildinfo
/.yarnrc.yml
/babel.config.cjs
/cypress.json
/jest.config.mjs
/package-lock.json
/rollup.config.js
/tsconfig.cypress.json
/tsconfig.development.json
/tsconfig.eslint.json
/tsconfig.json
/yarn.lock
/yarn-error.log
.DS_Store
